Class 2 Basic Pandas - Codealong & Assignment

In [23]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [24]:
df = pd.read_csv('/Users/samuelleichman/DS-SF-30/unit-project/dataset/Q107v3.csv')

In [14]:
df

,ShipDate,Order Week,OrderNumber,ItemCode,ItemDescription,...,Class,Quarter,Discount,Discount Rate,Full Path Sales
0,1/4/2007 12:00:00 AM,Week 1,G0793000,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.00
1,1/10/2007 12:00:00 AM,Week 2,G0797733,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-127.68,-76%,168.00
2,1/11/2007 12:00:00 AM,Week 2,G0798198,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-77.95,-46%,168.00
3,1/23/2007 12:00:00 AM,Week 4,G0791027,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.00
4,1/25/2007 12:00:00 AM,Week 4,G0806888,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-117.60,-70%,168.00
5,1/31/2007 12:00:00 AM,Week 5,G0755386,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-117.60,-70%,168.00
6,2/21/2007 12:00:00 AM,Week 8,G0820984,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.00
7,3/3/2007 12:00:00 AM,Week 9,G0827893,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-33.60,-20%,168.00
8,3/19/2007 12:00:00 AM,Week 12,G0839590,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-100.80,-60%,168.00
9,1/2/2007 12:00:00 AM,Week 1,WEB0789869,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
10,1/3/2007 12:00:00 AM,Week 1,WEB0789897,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
11,1/3/2007 12:00:00 AM,Week 1,WEB0789924,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
12,1/3/2007 12:00:00 AM,Week 1,WEB0790215,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
13,1/3/2007 12:00:00 AM,Week 1,WEB0790556,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
14,1/3/2007 12:00:00 AM,Week 1,G0790252,10125 CLEAR,"Mistic Candle Cups, Clear",...,ACCESSORIES,Q1 07,0.00,0%,29.95
...,...,...,...,...,...,...,...,...,...,...,...
58638,3/2/2007 12:00:00 AM,Week 9,G0824648,C5478 ALUMINUM,"Treku Bookcase- Profile's Hardware, Aluminum",...,STORAGE & SHELVING,Q1 07,-0.20,-10%,2.00
58639,3/14/2007 12:00:00 AM,Week 11,G0834461,C5478 ALUMINUM,"Treku Bookcase- Profile's Hardware, Aluminum",...,STORAGE & SHELVING,Q1 07,-0.20,-10%,2.00
58640,3/14/2007 12:00:00 AM,Week 11,G0835256,C5487 OAK,"Treku Bookcase - 18 in.Shelves, Oak",...,STORAGE & SHELVING,Q1 07,-285.66,-170%,337.00
58641,3/14/2007 12:00:00 AM,Week 11,G0835256,C5487 OAK,"Treku Bookcase - 18 in.Shelves, Oak",...,STORAGE & SHELVING,Q1 07,-85.05,-50%,337.00
58642,1/16/2007 12:00:00 AM,Week 3,G0799486,C5487 WENGE,"Treku Bookcase - 18 in.Shelves, Wenge",...,STORAGE & SHELVING,Q1 07,0.00,0%,168.50
58643,2/13/2007 12:00:00 AM,Week 7,G0816907,C5487 WENGE,"Treku Bookcase - 18 in.Shelves, Wenge",...,STORAGE & SHELVING,Q1 07,-75.75,-45%,505.50
58644,2/16/2007 12:00:00 AM,Week 7,G0803683,C5487 WENGE,"Treku Bookcase - 18 in.Shelves, Wenge",...,STORAGE & SHELVING,Q1 07,-23.60,-14%,337.00
58645,3/6/2007 12:00:00 AM,Week 10,G0821211,C5487 WENGE,"Treku Bookcase - 18 in.Shelves, Wenge",...,STORAGE & SHELVING,Q1 07,-23.60,-14%,337.00
58646,3/6/2007 12:00:00 AM,Week 10,G0824648,C7475 WENGE,"Treku Bookcase - 33 in. Shelves, Wenge",...,STORAGE & SHELVING,Q1 07,-48.70,-20%,487.00
58647,1/31/2007 12:00:00 AM,Week 5,G0809650,C7835 OAK,"Chicago Media - 4 small boxes, Oak",...,STORAGE & SHELVING,Q1 07,-616.95,-95%,649.50
58648,1/31/2007 12:00:00 AM,Week 5,G0809650,C7835 OAK,"Chicago Media - 4 small boxes, Oak",...,STORAGE & SHELVING,Q1 07,-142.97,-22%,649.50
58649,2/12/2007 12:00:00 AM,Week 7,G0814859,C9198 STAINLESS,"Liege Desk-Base, Stainless",...,TABLES & SURFACES,Q1 07,-733.00,-100%,733.00
58650,NaN,x,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [15]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

,ShipDate,Order Week,OrderNumber,ItemCode,ItemDescription,...,Class,Quarter,Discount,Discount Rate,Full Path Sales
0,1/4/2007 12:00:00 AM,Week 1,G0793000,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.0
1,1/10/2007 12:00:00 AM,Week 2,G0797733,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-127.68,-76%,168.0
2,1/11/2007 12:00:00 AM,Week 2,G0798198,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-77.95,-46%,168.0
3,1/23/2007 12:00:00 AM,Week 4,G0791027,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.0
4,1/25/2007 12:00:00 AM,Week 4,G0806888,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-117.60,-70%,168.0

In [10]:
df.tail()

,ShipDate,Order Week,OrderNumber,ItemCode,ItemDescription,...,Class,Quarter,Discount,Discount Rate,Full Path Sales
58648,1/31/2007 12:00:00 AM,Week 5,G0809650,C7835 OAK,"Chicago Media - 4 small boxes, Oak",...,STORAGE & SHELVING,Q1 07,-142.97,-22%,649.5
58649,2/12/2007 12:00:00 AM,Week 7,G0814859,C9198 STAINLESS,"Liege Desk-Base, Stainless",...,TABLES & SURFACES,Q1 07,-733.00,-100%,733.0
58650,NaN,x,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [11]:
df.shape

(58653, 21)

In [13]:
len(df)

58653

In [17]:
df.dtypes

ShipDate                   object
Order Week                 object
OrderNumber                object
ItemCode                   object
ItemDescription            object
OrderLocation              object
SKUCode                   float64
Department                 object
UnitsSold                  object
TotalNetRevenue            object
TotalCOGS                  object
GrossMarginDollars         object
GrossMarginPercent         object
CurrentAverageCost         object
CurrentRetailPriceEach     object
Current_GM_Each            object
Class                      object
Quarter                    object
Discount                   object
Discount Rate              object
Full Path Sales           float64
dtype: object

In [22]:
int(45)

45

In [ ]:
df

In [16]:
df.isnull().sum()

ShipDate             3
Order Week           2
OrderNumber          3
ItemCode             3
ItemDescription      3
                  ...
Class              260
Quarter              3
Discount             3
Discount Rate        3
Full Path Sales      3
dtype: int64

In [19]:
pd.isnull(df)

,ShipDate,Order Week,OrderNumber,ItemCode,ItemDescription,...,Class,Quarter,Discount,Discount Rate,Full Path Sales
0,False,False,False,False,False,...,False,False,False,False,False
1,False,False,False,False,False,...,False,False,False,False,False
2,False,False,False,False,False,...,False,False,False,False,False
3,False,False,False,False,False,...,False,False,False,False,False
4,False,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
58648,False,False,False,False,False,...,False,False,False,False,False
58649,False,False,False,False,False,...,False,False,False,False,False
58650,True,False,True,True,True,...,True,True,True,True,True
58651,True,True,True,True,True,...,True,True,True,True,True
58652,True,True,True,True,True,...,True,True,True,True,True

In [20]:
df.index

RangeIndex(start=0, stop=58653, step=1)

In [22]:
type(df.index)

pandas.indexes.range.RangeIndex

In [23]:
df.columns

Index([u'ShipDate', u'Order Week', u'OrderNumber', u'ItemCode',
       u'ItemDescription', u'OrderLocation', u'SKUCode', u'Department',
       u'UnitsSold', u'TotalNetRevenue', u'TotalCOGS', u'GrossMarginDollars',
       u'GrossMarginPercent', u'CurrentAverageCost', u'CurrentRetailPriceEach',
       u'Current_GM_Each', u'Class', u'Quarter', u'Discount', u'Discount Rate',
       u'Full Path Sales'],
      dtype='object')

In [82]:
df_1 = df[['OrderNumber','Order Week','OrderLocation','TotalNetRevenue','GrossMarginDollars','ItemDescription','Full Path Sales','Discount']]

In [54]:
df_1

,OrderNumber,Order Week,OrderLocation,TotalNetRevenue,ItemDescription,Full Path Sales,Discount
0,G0793000,Week 1,227 - Brooklyn Heights Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
1,G0797733,Week 2,218 - Dallas Studio,40.32,"Crystal Marquise Desktop Globe, Crystal",168.0,-127.68
2,G0798198,Week 2,228 - Cambridge Studio,90.05,"Crystal Marquise Desktop Globe, Crystal",168.0,-77.95
3,G0791027,Week 4,271 - Potrero Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
4,G0806888,Week 4,226 - Coral Gables Studio,50.40,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60
...,...,...,...,...,...,...,...
58648,G0809650,Week 5,244 - Seattle Studio,506.53,"Chicago Media - 4 small boxes, Oak",649.5,-142.97
58649,G0814859,Week 7,200 - DWR Call Center,0.00,"Liege Desk-Base, Stainless",733.0,-733.00
58650,NaN,x,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,"44,889,513.56",NaN,NaN,NaN

In [35]:
df_1 = df_1.set_index('OrderNumber')

In [36]:
df_1

,Order Week,OrderLocation,ItemDescription,Full Path Sales,Discount
OrderNumber,,,,,
G0793000,Week 1,227 - Brooklyn Heights Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
G0797733,Week 2,218 - Dallas Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,-127.68
G0798198,Week 2,228 - Cambridge Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,-77.95
G0791027,Week 4,271 - Potrero Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
G0806888,Week 4,226 - Coral Gables Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60
...,...,...,...,...,...
G0809650,Week 5,244 - Seattle Studio,"Chicago Media - 4 small boxes, Oak",649.5,-142.97
G0814859,Week 7,200 - DWR Call Center,"Liege Desk-Base, Stainless",733.0,-733.00
NaN,x,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_1.loc['G0809650']

,Order Week,OrderLocation,ItemDescription,Full Path Sales,Discount
OrderNumber,,,,,
G0809650,Week 5,244 - Seattle Studio,"Chicago Media - 4 small boxes, Oak",649.5,-616.95
G0809650,Week 5,244 - Seattle Studio,"Chicago Media - 4 small boxes, Oak",649.5,-142.97

In [41]:
df_1.iloc[[3,5]]

,Order Week,OrderLocation,ItemDescription,Full Path Sales,Discount
OrderNumber,,,,,
G0791027,Week 4,271 - Potrero Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
G0755386,Week 5,227 - Brooklyn Heights Studio,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60

In [49]:
df_1.iat[2,4]

'-77.95'

In [55]:
df_1.columns

Index([u'OrderNumber', u'Order Week', u'OrderLocation', u'TotalNetRevenue',
       u'ItemDescription', u'Full Path Sales', u'Discount'],
      dtype='object')

In [81]:
df_1[df_1.Discount>-100]

,OrderNumber,Order Week,OrderLocation,TotalNetRevenue,ItemDescription,Full Path Sales,Discount
0,G0793000,Week 1,227 - Brooklyn Heights Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
1,G0797733,Week 2,218 - Dallas Studio,40.32,"Crystal Marquise Desktop Globe, Crystal",168.0,-127.68
2,G0798198,Week 2,228 - Cambridge Studio,90.05,"Crystal Marquise Desktop Globe, Crystal",168.0,-77.95
3,G0791027,Week 4,271 - Potrero Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
4,G0806888,Week 4,226 - Coral Gables Studio,50.40,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60
...,...,...,...,...,...,...,...
58645,G0821211,Week 10,266 - Greenwich Studio,313.40,"Treku Bookcase - 18 in.Shelves, Wenge",337.0,-23.60
58646,G0824648,Week 10,239 - Denver Studio,438.30,"Treku Bookcase - 33 in. Shelves, Wenge",487.0,-48.70
58647,G0809650,Week 5,244 - Seattle Studio,32.55,"Chicago Media - 4 small boxes, Oak",649.5,-616.95
58648,G0809650,Week 5,244 - Seattle Studio,506.53,"Chicago Media - 4 small boxes, Oak",649.5,-142.97
58649,G0814859,Week 7,200 - DWR Call Center,0.00,"Liege Desk-Base, Stainless",733.0,-733.00

In [83]:
df_1

,OrderNumber,Order Week,OrderLocation,TotalNetRevenue,GrossMarginDollars,ItemDescription,Full Path Sales,Discount
0,G0793000,Week 1,227 - Brooklyn Heights Studio,168.00,98.54,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
1,G0797733,Week 2,218 - Dallas Studio,40.32,-29.13,"Crystal Marquise Desktop Globe, Crystal",168.0,-127.68
2,G0798198,Week 2,228 - Cambridge Studio,90.05,20.60,"Crystal Marquise Desktop Globe, Crystal",168.0,-77.95
3,G0791027,Week 4,271 - Potrero Studio,168.00,98.55,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
4,G0806888,Week 4,226 - Coral Gables Studio,50.40,-19.05,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60
...,...,...,...,...,...,...,...,...
58648,G0809650,Week 5,244 - Seattle Studio,506.53,285.15,"Chicago Media - 4 small boxes, Oak",649.5,-142.97
58649,G0814859,Week 7,200 - DWR Call Center,0.00,-271.81,"Liege Desk-Base, Stainless",733.0,-733.00
58650,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,"44,889,513.56",NaN,NaN,NaN,NaN

In [86]:
df_1.drop(['GrossMarginDollars'], axis =1, inplace = True)

/Users/samuelleichman/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [87]:
df_1

,OrderNumber,Order Week,OrderLocation,TotalNetRevenue,ItemDescription,Full Path Sales,Discount
0,G0793000,Week 1,227 - Brooklyn Heights Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
1,G0797733,Week 2,218 - Dallas Studio,40.32,"Crystal Marquise Desktop Globe, Crystal",168.0,-127.68
2,G0798198,Week 2,228 - Cambridge Studio,90.05,"Crystal Marquise Desktop Globe, Crystal",168.0,-77.95
3,G0791027,Week 4,271 - Potrero Studio,168.00,"Crystal Marquise Desktop Globe, Crystal",168.0,0.00
4,G0806888,Week 4,226 - Coral Gables Studio,50.40,"Crystal Marquise Desktop Globe, Crystal",168.0,-117.60
...,...,...,...,...,...,...,...
58648,G0809650,Week 5,244 - Seattle Studio,506.53,"Chicago Media - 4 small boxes, Oak",649.5,-142.97
58649,G0814859,Week 7,200 - DWR Call Center,0.00,"Liege Desk-Base, Stainless",733.0,-733.00
58650,NaN,x,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,"44,889,513.56",NaN,NaN,NaN

In [88]:
df_2 = df_1[df.Discount =='$']
df_2 = df_2.drop('GrossMarginDollars', axis = 1)

df_2.GrossMarginDollars / 10 ** 6

df_3 = df[df.GrossMarginDollars == '$M']
df_3 = df_3.drop('GrossMarginDollars', axis = 1)

ValueError: labels ['GrossMarginDollars'] not contained in axis

In [89]:
df_1.columns

Index([u'OrderNumber', u'Order Week', u'OrderLocation', u'TotalNetRevenue',
       u'ItemDescription', u'Full Path Sales', u'Discount'],
      dtype='object')

In [90]:
df.columns

Index([u'ShipDate', u'Order Week', u'OrderNumber', u'ItemCode',
       u'ItemDescription', u'OrderLocation', u'SKUCode', u'Department',
       u'UnitsSold', u'TotalNetRevenue', u'TotalCOGS', u'GrossMarginPercent',
       u'CurrentAverageCost', u'CurrentRetailPriceEach', u'Current_GM_Each',
       u'Class', u'Quarter', u'Discount', u'Discount Rate',
       u'Full Path Sales'],
      dtype='object')

In [91]:
df.ShipDate

0         1/4/2007  12:00:00 AM
1        1/10/2007  12:00:00 AM
2        1/11/2007  12:00:00 AM
3        1/23/2007  12:00:00 AM
4        1/25/2007  12:00:00 AM
                  ...
58648    1/31/2007  12:00:00 AM
58649    2/12/2007  12:00:00 AM
58650                       NaN
58651                       NaN
58652                       NaN
Name: ShipDate, dtype: object

In [94]:
pd.to_datetime(df.ShipDate)

0       2007-01-04
1       2007-01-10
2       2007-01-11
3       2007-01-23
4       2007-01-25
           ...
58648   2007-01-31
58649   2007-02-12
58650          NaT
58651          NaT
58652          NaT
Name: ShipDate, dtype: datetime64[ns]

In [96]:
df.ShipDate = pd.to_datetime(df.ShipDate)

In [99]:
df.ShipDate.applu(lambda ship_date: ship_date.year)

AttributeError: 'Series' object has no attribute 'applu'

In [25]:
df

,ShipDate,Order Week,OrderNumber,ItemCode,ItemDescription,...,Class,Quarter,Discount,Discount Rate,Full Path Sales
0,1/4/2007 12:00:00 AM,Week 1,G0793000,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.0
1,1/10/2007 12:00:00 AM,Week 2,G0797733,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-127.68,-76%,168.0
2,1/11/2007 12:00:00 AM,Week 2,G0798198,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-77.95,-46%,168.0
3,1/23/2007 12:00:00 AM,Week 4,G0791027,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,0.00,0%,168.0
4,1/25/2007 12:00:00 AM,Week 4,G0806888,10027 CRYSTAL,"Crystal Marquise Desktop Globe, Crystal",...,ACCESSORIES,Q1 07,-117.60,-70%,168.0
...,...,...,...,...,...,...,...,...,...,...,...
58648,1/31/2007 12:00:00 AM,Week 5,G0809650,C7835 OAK,"Chicago Media - 4 small boxes, Oak",...,STORAGE & SHELVING,Q1 07,-142.97,-22%,649.5
58649,2/12/2007 12:00:00 AM,Week 7,G0814859,C9198 STAINLESS,"Liege Desk-Base, Stainless",...,TABLES & SURFACES,Q1 07,-733.00,-100%,733.0
58650,NaN,x,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58651,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
58652,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN